[user]
	name = Grygorii Iermolenko
	email = gyermolenko@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[push]
	default = simple

[includeIf "gitdir/i:~/dotfiles/"]
	path = ~/dotfiles/.gitconfig_dotfiles

[includeIf "gitdir/i:~/code/work/"]
	path = ~/dotfiles/.gitconfig_work
